/* Tog */

.tog{
    width: 20px;
    position: fixed;
    z-index: 1;
    right: 10px;
    top: 20%;
}

/* tog-items */
.tog-items{
    height: 60px;
    width: 8px;
    background: rgba(0, 128, 0, 0.589);
    transition: 0.5s ease;
}

.tog-items:hover{
    background-color: red;
    width: 10px;
}

/* Logo */

.logo{
    position: fixed;
    z-index: 1;
    background-color: white;
}

/* logo image */
.logo-img{
    height: 60px;
}

/* Navigation */

.nav-main{
    background-color: rgba(250, 13, 13, 0.5);
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 55px;
}

.nav-custom{
    padding-left: 35%;
}

.item-custom{
    padding-right: 20px;
}

/* Banner */
.banner{
    height: 550px;
    position: relative;
    top: 58px;
    margin-bottom: 80px;
    background-image: url(../images/tecno/WX4-1-PC_07.jpg);
    background-size: cover;
}
.top-overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.offer-img{
    width: 120px;
    position: absolute;
    bottom: 350px;
    right: 40px;
}

.off-20{
    width: 120px;
    position: absolute;
    bottom: 200px;
    right: 40px;
    animation-name: off-20;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes off-20{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.welcome{
    color: white;
    font-size: 40px;
    position: absolute;
    bottom: 200px;
    left: -48%;
    animation-name: karibu;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

@keyframes karibu{
    0%{left: -48%;}
    50%{left: 35%; opacity: 1;}
    70%{left: -48%;}
    100%{opacity: 0;}
}

.buy{
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 200px;
    left: -48%;
    animation-name: nunua;
    animation-duration: 7s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

@keyframes nunua{
    0%{left: -48%;}
    100%{left: 30%; opacity: 1;}
}

/* lenovo product */
.lenovo-parent{
    height: 500px;
    background-image: url(../images/lenovo/lenovo-bg-banner.jpg);
    background-size: cover;
}

/* lenovo-children */
.lenovo-children{
    height: 300px;
    margin: 25px;
    overflow: hidden;
    border: 0.5px solid black;
    position: relative;
}

.initial{
    position: absolute;
    bottom: -5px;
    left: 10px;
    color: red;
    z-index: 1;
    font-size: 20px;
    animation-name: initial-anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes initial-anim{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.current{
    position: absolute;
    bottom: -5px;
    right:  10px;
    color: rgb(250, 13, 13);
    z-index: 1;
    font-size: 20px;
}


.btn-custon{
    position: absolute;
    z-index: 1;
    color: white;
    bottom: 100px;
    right: 35%;
    opacity: 0;
    transition: 0.5s ease;
}

.holder h4{
    color: white;
    background-color: rgb(250, 13, 13);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    font-size: 20px;
    text-align: center;
}

.option h4{
    color: white;
    z-index: 1;
    background-color: rgb(250, 13, 13);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    font-size: 20px;
    text-align: center;
}

/* Transition */

.trans-l:hover .btn-custon{
    opacity: 1;
}

.trans-t:hover .btn-custon{
    opacity: 1;
}

.trans-s:hover .btn-custon{
    opacity: 1;
}


.trans-l:hover .image-fluid-l{
    transform: scale(1.02);
    transition: 0.4s ease-in;
}

/* lenovo-children */

.image-fluid-l{
    height: 100%;
    width: 100%;
}


/* Tecno */

.trans-t:hover{
    box-shadow: 5px 5px 5px  gray;
    transition: 1s ease;

}

/* tecno banner */
.tecno-banner{
    height: 500px;
    background-image: url(../images/tecno/spark-plus.jpg);
    background-size: cover;
}
/* tecno children */
.tecno-children{
    height: 300px;
}

/*tecno-children*/
.image-fluid-t{
    height: 100%;
    width: 100%;
}


/* samsung banner */
.samsung-banner{
    height: 500px;
    background-image: url(../images/samsung/samsung-banner-bg.jpg);
    background-size: cover;
}
/* samsung-children */
.samsung-children{
    height: 300px;
    margin: 25px;
}

.holder{
    border: 0.5px solid black;
    margin: 10px;
}

.trans-s{
    transition: 0.4s ease;
}

.trans-s:hover{
    transform: translateY(-1px);
    box-shadow: 5px 5px 10px;
}

/*tecno-children*/
.image-fluid-s{
    height: 100%;
    width: 100%;
}
/* btn */
.btn{
    margin-top: 30px;
}

.about-banner{
    height: 500px;
    background-color: red;
    background: url(../images/about/about-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.member-container{
    height: 350px;
    /* background-color: blueviolet; */
}

.member{
    width: 250px;
    height: 250px;
    background-color: aliceblue;
    margin: auto;
    margin-top: 25px;
    border-radius: 50%;
    position: relative;
}

.ceo{
    background: url(../images/about/ceo.jpg);
    background-size: cover;
}

.manager{
    background: url(../images/about/manager.jpg);
    background-size: cover;
}

.directer{
    background: url(../images/about/directer.jpg);
    background-size: cover;
}

.member p{
    position: absolute;
    color: red;
    font-size: 25px;
    bottom: -100px;
    left: 25%;
}

.custom-do{
    background:rgb(187, 38, 38);
    margin-top: 100px;
    color: white;
}

.partners{
    margin: 5px;
}
.lead1{
    box-shadow: 5px 5px 10px;
    border-bottom: red;
}

.partner-logo{
    height: 100px;
    width: 100%;
}

.contact-banner{
    height: auto;
    background: url(../images/contact/contact-banner.jpg)
}

.overlay-contact{
    width: 100%;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.397);
    height: auto;
}

.social{
    margin: 5px;
    padding-top: 20px;
    margin-top: 100px;
}

.social a{
    color: white;
    transition: 0.4s ease-in;
    text-decoration: none;
}

.social a:hover{
    transform: rotateY(360deg);
    color: red;
}

.contact{
    height: 170px;
    background-color: red;
    margin: 5px;
    margin-top: 100px;
    padding-top: 10px;
    color: white;
}

.contact:hover .contact-icon{
    margin-top: 10px;
}

.contact:hover .contact-c{
    opacity: 1;
}

.contact-icon{
    margin-top: 40px;
    transition: 0.5s ease-in;
}
.contact-c{
    margin-top: 20px;
    opacity: 0;
    transition: 0.5s ease-in;
    transition-delay: 0.2s;
}

/* Form */
.form-cont{
    background-image: url(../images/additional/form.jpg);
    background-size: cover;
    color: white;
}

.form-cont form{
    border: 1px solid white;
    padding: 5px;
    margin-bottom: 5px;
}

.footer-cont{
    height: auto;
    background-color: red;
    padding-bottom: 0;
}

.Locate{
    color: white;
}

.footer-col a{
    color: white;
    text-decoration: none;
}

.map-cont{
    width: 100%;
    height: 100%;
}

.map{
    width: 100%;
    height: 200px;
}